body {
  font-family: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}

.container {
  margin: 0 auto;
  width: 540px;
  text-align: center;
}

.status {
  font-size: 15px;
  margin: 5px;
  font-family: inherit;
  font-weight: inherit;
}

button.status {
  width: 120px;
}

span.status {
  width: 80px;
  display: inline-block;
  text-align: left;
}

#sweeperTable {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sweeperTable td.game-square {
  width: 30px;
  height: 30px;
  background: #6666CC;  
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(153, 153, 153, 0.5);
  cursor: pointer;
}

#sweeperTable td.game-square.flagged {
  background: orange;
}

#sweeperTable td.game-square.revealed {
  background: white;
  cursor: default;
}

#sweeperTable td.game-square.mine {
  background: red;
  cursor: default;
}

#sweeperTable td.game-square.safe {
  background: green;
  cursor: default;
}
