body {
  font-family: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 540px;
  text-align: center;
}

.status {
  font-size: 15px;
  margin: 5px;
  font-family: inherit;
  font-weight: inherit;
}

button.status {
  width: 120px;
}

span.status {
  width: 80px;
  display: inline-block;
  text-align: left;
}

.help {
  text-align: left;
}

.author {
  margin: 10px;
}

canvas#sweeperCanvas {
  cursor: pointer;
}
