<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{2048,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,96}}</string>
                <key>sourceSize</key>
                <string>{2048,96}</string>
            </dict>
            <key>background_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,192},{352,1344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,1344}}</string>
                <key>sourceSize</key>
                <string>{352,1344}</string>
            </dict>
            <key>background_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{352,1344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,1344}}</string>
                <key>sourceSize</key>
                <string>{352,1344}</string>
            </dict>
            <key>background_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,96}}</string>
                <key>sourceSize</key>
                <string>{2048,96}</string>
            </dict>
            <key>balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,908},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dart_animation_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,192},{39,63}}</string>
                <key>offset</key>
                <string>{516.5,-327.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1521,1064},{39,63}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,192},{621,219}}</string>
                <key>offset</key>
                <string>{230.5,-259.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{944,918},{621,219}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,192},{633,336}}</string>
                <key>offset</key>
                <string>{229.5,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{937,817},{633,336}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1536},{638,340}}</string>
                <key>offset</key>
                <string>{192,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{897,749},{638,340}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,411},{554,306}}</string>
                <key>offset</key>
                <string>{152,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{899,704},{554,306}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1536},{482,257}}</string>
                <key>offset</key>
                <string>{123,-36.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{906,676},{482,257}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1536},{421,205}}</string>
                <key>offset</key>
                <string>{100.5,2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{914,663},{421,205}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1536},{369,176}}</string>
                <key>offset</key>
                <string>{83.5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{923,644},{369,176}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1876},{322,164}}</string>
                <key>offset</key>
                <string>{70,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{933,622},{322,164}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1876},{272,148}}</string>
                <key>offset</key>
                <string>{63,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{951,612},{272,148}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,528},{245,133}}</string>
                <key>offset</key>
                <string>{49.5,91.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{951,610},{245,133}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,528},{213,127}}</string>
                <key>offset</key>
                <string>{42.5,87.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{960,617},{213,127}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,528},{182,133}}</string>
                <key>offset</key>
                <string>{38,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{971,632},{182,133}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1905},{152,138}}</string>
                <key>offset</key>
                <string>{36,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{984,653},{152,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,655},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1905},{125,138}}</string>
                <key>offset</key>
                <string>{35.5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{997,681},{125,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,661},{124,135}}</string>
                <key>offset</key>
                <string>{35,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{124,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,909},{124,135}}</string>
                <key>offset</key>
                <string>{35,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{124,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,780},{124,135}}</string>
                <key>offset</key>
                <string>{35,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{124,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,661},{124,135}}</string>
                <key>offset</key>
                <string>{35,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{124,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,785},{124,135}}</string>
                <key>offset</key>
                <string>{35,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{124,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,661},{124,135}}</string>
                <key>offset</key>
                <string>{35,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{997,681},{124,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,785},{123,135}}</string>
                <key>offset</key>
                <string>{35.5,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{998,681},{123,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1033},{123,135}}</string>
                <key>offset</key>
                <string>{35.5,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{998,681},{123,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,904},{123,135}}</string>
                <key>offset</key>
                <string>{35.5,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{998,681},{123,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,785},{123,135}}</string>
                <key>offset</key>
                <string>{35.5,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{998,681},{123,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,908},{122,135}}</string>
                <key>offset</key>
                <string>{36,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{999,681},{122,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1027},{121,135}}</string>
                <key>offset</key>
                <string>{36.5,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1000,681},{121,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>dart_animation_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1156},{120,135}}</string>
                <key>offset</key>
                <string>{37,19.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1001,681},{120,135}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>game_board_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1141},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_board_corner_bottom_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1132},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>game_board_corner_bottom_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1030},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>game_board_corner_top_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,1020},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>game_board_corner_top_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,908},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>game_board_side_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,523},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>game_board_side_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1957},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>game_board_side_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1957},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>game_board_side_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,411},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>number_eight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1061},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>number_five.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,981},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>number_four.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,901},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>number_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,821},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>number_seven.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,741},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>number_six.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,661},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>number_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,715},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>number_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,635},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dart_art_01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d574ef6f05db9548a58de4b5dcaae623$</string>
            <key>textureFileName</key>
            <string>dart_art_01.png</string>
        </dict>
    </dict>
</plist>
